[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-telegram-bot = "*"
beautifulsoup4 = "*"
setuptools = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.12"
